body.light-mode .about__section {
  background-color:white;
  overflow-x: hidden;
}
body.dark-mode .about__section {
  background-color:rgb(49, 49, 49) !important;;
  overflow-x: hidden;
}
.about__img {
  object-fit: cover;
}
.about__wrapper {
  min-height: 30vh;
}
.typed-cursor {
  font-size: 2rem;
  margin: 0 0.5rem;

}
body.dark-mode .typed-cursor {
  font-size: 2rem;
  margin: 0 0.5rem;
  color:white;
}
.about__content {
  display: flex;
  flex-direction: column;
  padding: 0rem 5rem;
  /* padding-bottom: 10rem; */
  justify-content: center;
}
.about__logo {
  max-width: 100%;
  min-width: 70%;
  padding: 0.5rem;
  width: 28rem;
}
.about__title {
  font-size: 2.25rem;
  color: var(--text-tertiary);
  font-weight: 400;
}
.about__date {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  font-size: 1.2rem;
  color: var(--text-tertiary);
  font-weight: 500;
}
.about__date i {
  color: #0000008a;
  margin-right: 0.5rem;
}
.about__separator {
  color: var(--btn-primary);
  margin: 0 0.75rem;
  font-size: 2rem;
}
.about__highlight {
  color: var(--btn-primary);
}
.about__description {
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  font-size: 1.1em;
  font-weight: 400;
  text-align: justify;
}
.about__actions {
  margin-top: 1.5rem;
  margin-left: 1.5rem;
}

.about__actions .primary__btn {
  margin: 0 0.75rem;
  padding: 0.5rem 1.5rem;
  border: 1.5px solid #db4437;
  background: #db4437;
  color: white;
  border-radius: 5px;
  transition: var(--transition-speed);
  outline: none;
  text-align: center;
  filter: brightness(1);
}
.about__actions .primary__btn:hover {
  filter: brightness(1.25);
}
.about__actions .primary__btn:focus {
  filter: brightness(0.75);
}
.about__actions .secondary__btn {
  padding: 0.5rem 1rem;
  border: 1.5px solid var(--btn-primary);
  border-radius: 5px;
  text-align: center;
  background: var(--btn-secondary);
  outline: none;
  color: var(--btn-primary);
  transition: var(--transition-speed);
}

.about__actions .secondary__btn:hover {
  background: var(--hover-state);
}
.about__actions .secondary__btn:focus {
  background: var(--focused-state);
}

.about-typer {
  font-size: 4rem;
  font-weight: 600;
}

body.dark-mode .about_text
{
  color:white;
}
.svg-line-drawing {
  width: 100%;
  
}

.svg-line-drawing .stroke-background {
  stroke: #eddd3e;
}

.svg-line-drawing .stroke {
  stroke: #f51111;
}

.svg-line-drawing .stroke-alt {
  stroke: #ffffff;
}

.svg-line-drawing .stroke-width {
  stroke-width: 2;
}

.svg-line-drawing .stroke-overlay {
  stroke-width: 3;
}

.svg-line-drawing .linecap {
  stroke-linecap: round;
  stroke-linejoin: round;
}

.rtl-magazine-animation .ani-fade-button,
.rtl-magazine-animation .ani-move-page,
.rtl-magazine-animation .ani-move-menu {
  -webkit-animation-duration: 5500ms;
    animation-duration: 5500ms;
  -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
  -webkit-animation-delay: 100ms;
    animation-delay: 100ms;
  -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.rtl-magazine-animation .ani-fade-button {
  -webkit-animation-name: fade-button;
    animation-name: fade-button;
}

.rtl-magazine-animation .ani-move-page {
  -webkit-animation-name: move-page;
    animation-name: move-page;
}

.rtl-magazine-animation .ani-move-menu {
  -webkit-animation-name: move-menu;
    animation-name: move-menu;
}

@-webkit-keyframes fade-button {
  0%, 12%, 100% { opacity: 0; }
  9%, 11% { opacity: 1; }
}

@keyframes fade-button {
  0%, 12%, 100% { opacity: 0; }
  9%, 11% { opacity: 1; }
}

@-webkit-keyframes move-page {
  0%, 14%, 100% { -webkit-transform: translateY(0px); -webkit-animation-timing-function: ease-in; }
  28% { -webkit-transform: translateY(-220px); -webkit-animation-timing-function: linear; }
  80%, 99.9999% { -webkit-transform: translateY(-680px); -webkit-animation-timing-function: linear; }
}

@keyframes move-page {
  0%, 14%, 100% { transform: translateY(0px); animation-timing-function: ease-in; }
  28% { transform: translateY(-220px); animation-timing-function: linear; }
  80%, 99.9999% { transform: translateY(-680px); animation-timing-function: linear; }
}

@-webkit-keyframes move-menu {
  0%, 14%, 100% { -webkit-transform: translateY(0px); -webkit-animation-timing-function: ease-in; }
  28%, 68.6957% { -webkit-transform: translateY(-220px); -webkit-animation-timing-function: linear; }
  80% { -webkit-transform: translateY(-320px); -webkit-animation-timing-function: linear; }
  99.9999% { -webkit-transform: translateY(-680px); -webkit-animation-timing-function: linear; }
}

@keyframes move-menu {
  0%, 14%, 100% { transform: translateY(0px); animation-timing-function: ease-in; }
  28%, 68.6957% { transform: translateY(-220px); animation-timing-function: linear; }
  80% { transform: translateY(-320px); animation-timing-function: linear; }
  99.9999% { transform: translateY(-680px); animation-timing-function: linear; }
}
@media screen and (max-width: 1120px) {
  .about__content {
    padding: 0rem 2.5rem;
  }
}

@media screen and (max-width: 960px) {
  .about__content {
    padding: 0rem 3.5rem;
  }
  .about__logo {
    width: 25rem;
    max-width: 90%;
  }
  .about-content {
    text-align: center;
    justify-content: center;
    width: 100%;
    margin: 1rem 2.5rem;
    margin-bottom: 2rem;
  }
  .about__wrapper {
    flex-direction: column-reverse !important;
  }
  .about__content {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .about__actions .secondary__btn {
    padding: 0.7rem 1.25rem;
  }
  .about__actions .primary__btn {
    padding: 0.7rem 1.5rem;
  }
  .about__description {
    margin-left: 0.5rem;
  }
  .about__date {
    margin-left: 1rem;
  }
  .about__actions {
    margin-left: 0.5rem;
  }
  .about-typer {
    font-size: 3rem;
    font-weight: 600;
  }
  .hackerspree-header {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 720px) {
  .about__lottie {
    height: auto;
  }

  .about__logo {
    width: 25rem;
    max-width: 90%;
  }
  .about__content {
    justify-content: flex-start;
    padding-bottom: 0;
    padding: 0rem 1.5rem;
    padding-top: 0rem;
    padding-bottom: 7.5rem;
  }
}

@media screen and (max-width: 380px) {
  .about__content {
    justify-content: flex-start;
    padding-bottom: 0;
    padding: 0rem 1rem;
    padding-top: 0rem;
    padding-bottom: 7.5rem;
  }
  .about__actions .secondary__btn {
    padding: 0.5rem 1rem;
  }
  .about__actions .primary__btn {
    padding: 0.5rem 1.25rem;
  }
}

.about-content {
  color: var(--text-primary) !important;
}
.about-text {
  text-align: justify;
  font-size: 18px;
  font-weight: 400;
}
.about-highlight {
  color: var(--btn-primary);
}
.text-danger {
  color: #e93020 !important;
}
red {
  color: #ed4436;
}
green {
  color: #199f58;
}
blue {
  color: #4784f1;
}
.secondary__btn {
  padding: 0.5rem 1rem;
  border: 1.5px solid var(--btn-primary);
  border-radius: 5px;
  text-align: center;
  background: var(--bg-secondary);
  outline: none;
  color: var(--btn-primary);
  transition: var(--transition-speed);
}
body.dark-mode .secondary__btn {
  padding: 0.5rem 1rem;
  border: 1.5px solid var(--btn-primary);
  border-radius: 5px;
  text-align: center;
  background-color:rgb(49, 49, 49) ;
  outline: none;
  color: var(--btn-primary);
  transition: var(--transition-speed);
}
.secondary__btn:disabled{
  cursor: not-allowed;
}
.secondary__btn:hover {
  background: var(--hover-state);
}
.secondary__btn:focus {
  background: var(--focused-state);
}

@media screen and (max-width: 960px) {
  .secondary__btn {
    padding: 0.7rem 1.25rem;
  }
}

@media screen and (max-width: 380px) {
  .secondary__btn {
    padding: 0.5rem 1rem;
  }
}
